/*
    styles.css
*/

h1 {
    text-align: center;
}

.jumbotron {
    padding: 10px 15px;
}

html, body {
    background-image: url("https://sickr.files.wordpress.com/2012/07/nintendo_characters.jpg");
}

.none {
    display: none;
}

.center {
    text-align: center;
    font-size: 250%;
    padding-top: 5px;
    color: white;
}

.purple {
    background-color: #6441a5;
}

.panel-player {
    width: 360px;
    height: 60px;
}