/*
    styles.css
*/

h1 {
    text-align: center;
}

img {
    width:900px;
}
.jumbotron {
    padding: 10px 15px;
    background-color: #6441a5;
    color: white;
}

.logo > img {
    width: 15%;
    display: inline;
    padding-right: 20px;
    margin-right: 130px;
}

.logo > h1 {
    display: inline;
    text-align: center;
}

.logo > p {
    padding-left: 320px;
}

.carousel-caption{
    background-color: rgba(100, 65, 165, 0.8);
    height: 150px;
    border-radius: 25px;
}

p{
    color: white;
}

html, body {
    background-image: url("http://i273.photobucket.com/albums/jj220/ZETSU107/SSBBwallpaper.png");
}

.none {
    display: none;
}

.center {
    text-align: center;
    font-size: 250%;
    padding-top: 5px;
    color: white;
}

.purple {
    background-color: #6441a5;
}

.panel-player {
    width: 360px;
    height: 60px;
}

.panel-primary > .panel-heading {
    background-color: #6441a5;
    color: white;
    border-color: #6441a5;
    font-size: 150%
}

.panel-primary {
    border-color: #6441a5;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color:#6441a5;
}

a {
    color: white;
}

a.blue {
    color: blue;
}

.nav-pills > li > a {
    font-size: 130%;
}